# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Redis
REDIS_URL="redis://localhost:6379"

# Secret Key para JWT
SECRET_KEY="una-super-clave-secreta-muy-dificil-de-adivinar"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

